<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyBoardDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55019C391C3B5E70009F174B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55019C521C3B5E71009F174B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55019C5D1C3B5E71009F174B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
